<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{../static/html/header.html}">  </header>
<section CLASS="container">
    <h2>Crear Pelicula</h2>
    <br>
    <form method="post" th:action="@{/pelicula/crear}">
        <div>
            <label for="nombrePeli" class="form-label">Nombre:</label>
            <input type="text" id="nombrePeli" name="titulo" required class="form-label">
        </div>

        <br>
        <div>
            <label for="genero" class="form-label">Genero:</label>
            <select id="genero" name="genero">
                <option value="accion">Acción</option>
                <option value="comedia">Comedia</option>
                <option value="drama">Drama</option>
                <option value="ciencia_ficcion">Ciencia Ficción</option>
                <option value="fantasia">Fantasía</option>
                <option value="terror">Terror</option>
                <option value="aventura">Aventura</option>
                <option value="romance">Romance</option>
                <option value="animacion">Animación</option>
                <option value="documental">Documental</option>
            </select>
        </div>
        <div>
            <label for="precio" class="form-label">Nombre:</label>
            <input type="number" id="precio" class="form-label" name="precioArriendo" required min="1">
        </div>

        <br>
        <button type="submit">Crear Pelicula</button>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>