<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Encargados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<header th:include="~{../static/html/header.html}">  </header>
<section CLASS="container">
    <table class="Table">
        <thead>
        <tr>
            <th>id</th>
            <th>Nombre encargado</th>
            <th>Correo electrónico</th>
            <th>edad</th>
            <th>dirección</th>
            <th>telefono</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="encargado:${attributeListarEncargado}">
            <td th:text="${encargado.id}"></td>
            <td th:text="${encargado.nombre}"></td>
            <td th:text="${encargado.correo}"></td>
            <td th:text="${encargado.edad}"></td>
            <td th:text="${encargado.direccion}"></td>
            <td th:text="${encargado.telefono}"></td>
            <td>
                <div class="row m-4 ">
                    <div class="col-6">
                        <form th:action="@{/encargado/editar/{id}(id=${encargado.id})}"
                              method="get">
                            <button class="btn btn-warning" type="submit">Editar</button>
                        </form>
                    </div>
                    <div class="col-6">
                        <form th:action="@{/encargado/eliminar/{id}(id=${encargado.id})}"
                              method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este encargado?')">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>

    </table>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>